.titulo{
margin-top: 20px;
	&-title {
		background-color: #292B2E;
		padding: 5px;
		border-radius: 5px;
		margin: 4px;
	}
}

.boxes{

    display: flex;
	align-items: center;
 
    
}
.box1{
    background-color: #292B2E;
		padding: 100px;
		border-radius: 100px;
		margin-right: 100px;
  
}
.box2{
    background-color: #292B2E;
    padding: 100px;
    border-radius: 100px;
    margin-right: 100px;;
  
}
.box3{
    background-color: #292B2E;
    padding: 100px;
    border-radius: 100px;
    margin-right: 100px;
  
}
.box4{
    background-color: #292B2E;
    padding: 100px;
    border-radius: 100px;
    margin-right: 100px;
  
}
.container {
	
    background-color: #000000;
    color: #fff;
   
}