<div class="container">
    <div class ="titulo">
        <h1>Seleccione TCG</h1>
    </div>
    <div class="boxes">
        <div>
        <div class="box1">
            <button [routerLink]="['/seccion','yugi']">seccion yugi</button> 
        </div>
        <div class="box2">
            <button [routerLink]="['/seccion','dbs']">seccion dbs</button> 
        </div>
    </div>
        <div>
        <div class="box3">
            <button [routerLink]="['/seccion','digimon']">seccion digimon</button> 
        </div>
        <div class="box4">
            <button [routerLink]="['/seccion','magic']">seccion magic</button> 
        </div>
    </div>
    </div>
    

</div>


