<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="col-xs-12 col-sm-12 col-md-6">
            <app-buscador></app-buscador>
          </div>
          <button class="btn btn-outline-success" type="submit" [routerLink]="['/buscar','todo','nombre']"><span class="material-icons">
            search
            </span></button>
          <a [routerLink]="['/carrito']"><mat-icon aria-hidden="false" aria-label="Example home icon">shopping_cart</mat-icon>
          </a>
          <a [routerLink]="['/iniciosesion']"><span class="material-icons">account_circle</span></a>
        </div>
      </div>
    </nav>
  </header>





